<style>
   
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      display: flex;
      height: 100vh;
      background-color: #fdf5e6;
      
    }
/* Header */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf5e6;
  padding: 10px 20px;
  border-bottom: 2px solid black;
  position: relative;
}

/* Logo */
.logo img {
  height: 80px;
  width: auto;
  margin-left: 30px;
}

.menu-trigger {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.auth a i {
  font-size: 24px; /* Kích thước biểu tượng */
  color: black;
}

.auth a i:hover {
  color: red; /* Màu khi hover */
}

.language-switch a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.language-switch a.active {
  color: red;
}

.language-switch a:hover {
  text-decoration: underline;
}

    .container { 
        display: flex; 
    }
    .sidebar { 
        width: 300px; 
        background-color: #a54088; 
        padding: 20px; color: white; 
    }
    .main { 
        flex-grow: 1;
         padding: 20px;
         text-align: center;
         }
         .main h1 {
            margin-bottom: 20px; /* Khoảng cách giữa tiêu đề và mã QR */
            font-size: 40px;
          }
          .main p {
            margin-top: -40px; /* Kéo đoạn văn lên gần mã QR hơn */ 
            font-size: 26px;
        }

    .info-box { 
        background-color: #3f1146;
         padding: 10px;
          margin-bottom: 10px;
           border-radius: 5px; 
           text-align: center;
        }
        .qr-code {
            width: 450px; 
            height: auto; 
            margin-right: 30px ; 
            margin-bottom: 20px; /* Thêm điều này để tạo khoảng cách dọc */
          }

  </style>